.blogIndex h3 a {
  color: var(--accents-3);
}

.noPosts {
  text-align: center;
}

.postPreview {
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0;
}

.postPreview:last-child {
  border-bottom: none;
}

.postPreview h3 > a {
  border-bottom: 1px dotted #ddd;
}

.postPreview h3 > a:hover {
  color: var(--accents-2);
}

.postPreview h3,
.post h1 {
  margin-bottom: 0;
}

.post h1 {
  margin-top: 0;
}

.post :global(h2),
.post :global(h3) {
  margin: 3rem 0 1.5rem 0;
}

.post :global(video),
.post :global(img) {
  max-width: 100%;
  display: block;
  border-radius: var(--radius);
}

.posted {
  margin: 0.5em 0;
  color: #777;
}

.post {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 0 2%;
}

.post p {
  overflow-wrap: break-word;
  word-break: break-word;
  text-rendering: optimizelegibility;
  /* text-align: justify; */
}

.post :global(hr) {
  margin-bottom: 2em;
}

.post :global(a + p) {
  margin-top: 0;
}

.post li {
  list-style-type: none;
}

.post li::before {
  content: '–';
  display: inline-block;
  color: var(--accents-4);
  position: absolute;
  margin-left: -15px;
}
