.layoutPadTop {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.layout img {
  margin: auto;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.avatar {
  box-shadow: #707880 0px 0px 5px;
  border-radius: 200px;
}
