.layoutPadTop {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.layout {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 0 2%;
}

.layout img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  border-radius: var(--radius);
}

.layout.center h1,
.layout.center h2 {
  text-align: center;
}

.layout.center .avatar {
  box-shadow: #707880 0px 0px 5px;
  border-radius: 100%;
}
