.layoutPadTop {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.layout {
  max-width: calc(600px + 10%);
  margin: var(--gap) auto;
  padding: 0 var(--gap);
}

.layout img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  border-radius: var(--radius);
}

.layout.center h1,
.layout.center h2 {
  text-align: center;
}

.layout.center .avatar {
  box-shadow: #707880 0px 0px 5px;
  border-radius: 100%;
}

.caption > p {
  color: var(--accents-3);
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 2rem;
}
